---
import { getEntry, render } from "astro:content";

import { Icon } from "@/components/Icon";
import { TagLink } from "@/components/TagLink";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { retrievePostSummaries } from "@/lib/api";

export async function getStaticPaths() {
  const posts = await retrievePostSummaries();
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Missing slug");
}

const post = await getEntry("posts", slug);

if (!post || !post.data.published) {
  throw new Error("Not found");
}

const { Content } = await render(post);
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  ogImage={`/og/posts/${post.id}.png`}
  ogType="article"
>
  <div class="md:mx-36">
    <h1 class="text-lg font-bold text-heading md:text-3xl">{post.data.title}</h1>
    <p class="mt-4 text-text">{post.data.description}</p>
    <div class="mt-4 flex gap-4 text-text">
      <div class="flex items-center gap-2">
        <Icon type="pencil" className="h-4 w-4" />
        <time datetime={post.data.publishedAt}>{post.data.publishedAt}</time>
      </div>
      {
        post.data.updatedAt &&
          post.data.publishedAt !== post.data.updatedAt && (
          <div class="flex items-center gap-2">
            <Icon type="refresh" className="h-4 w-4" />
            <time datetime={post.data.updatedAt}>{post.data.updatedAt}</time>
          </div>
        )
      }
    </div>

    <ul class="mt-4 flex gap-4">
      {
        post.data.tags.map((tag) => (
          <li>
            <TagLink tag={tag} />
          </li>
        ))
      }
    </ul>

    <article class="prose prose-sm mt-8 max-w-none prose-gray md:prose-base dark:prose-invert">
      <Content />
    </article>
  </div>
</BaseLayout>
