---
import { Icon } from "@/components/Icon";
import { TagLink } from "@/components/TagLink";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { retrievePost, retrievePostSummaries } from "@/lib/api";
import { processor } from "@/lib/processor";

export async function getStaticPaths() {
  const posts = await retrievePostSummaries();
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Missing slug");
}

const post = await retrievePost(slug);
const processedContent = await processor.process({
  data: {
    slug,
  },
  value: post.content,
});
const html = processedContent.toString();
---

<BaseLayout title={post.title} description={post.description}>
  <div class="md:mx-36">
    <h1 class="text-lg font-bold text-heading md:text-3xl">{post.title}</h1>
    <p class="mt-4 text-text">{post.description}</p>
    <div class="mt-4 flex gap-4 text-text">
      <div class="flex items-center gap-2">
        <Icon type="pencil" className="h-4 w-4" />
        <time datetime={post.publishedAt}>{post.publishedAt}</time>
      </div>
      {post.updatedAt && post.publishedAt !== post.updatedAt && (
        <div class="flex items-center gap-2">
          <Icon type="refresh" className="h-4 w-4" />
          <time datetime={post.updatedAt}>{post.updatedAt}</time>
        </div>
      )}
    </div>

    <ul class="mt-4 flex gap-4">
      {post.tags.map((tag) => (
        <li>
          <TagLink tag={tag} />
        </li>
      ))}
    </ul>

    <article
      class="prose prose-sm mt-8 max-w-none prose-gray md:prose-base dark:prose-invert"
      set:html={html}
    ></article>
  </div>
</BaseLayout>
